  header img {
    max-width: 150px;
    padding: 1vh;
  }
  
  header h2 {
    font-size: 250%;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
    font-family: 'Dancing Script', cursive;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 450px;
    width: 100%;
  }

  footer p {
    color: red;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 1000px) {
    .column {
        flex: 33%;
        max-width: 33%;
    }
  }
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    header {
      flex-direction: column;
    }
    header h2 {
      font-size: 150%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }