* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-font-color: yellow
}

html {
    background-color: red;
    background-image: url('../images/download-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: lighten;
}

body {
    font-family: 'Dancing Script', cursive;
    font-size: 100%;
    color: var(--var-font-color);
    overflow-x: hidden;
}

a {
    color: var(--var-font-color);
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}

header h2 {
    margin-right: auto;
    font-size: 200%;
    font-variant: small-caps;
}

#navigation {
    transform: translateX(100%);
    transition: all 300ms ease-in;
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: rgba(255, 235, 205, 0.35);
    position: absolute;
    top: 0;
    right: 0;
    width: 65vw;
}

nav li {
    margin-inline: 1vw;

}
header img {
    max-width: 150px;
    margin: 2vh;
}

nav a {
    padding: 2vh 1vw;
    display: block;
    font-weight: bold;
    font-variant: small-caps;
    transition: all 300ms ease;
}

nav a:hover {
    background-color: rgba(255, 235, 205, 0.8);
    color: blueviolet;
}

main {
    display: flex;
    gap: 1vw;
    justify-content: center;
}

aside, section {
    flex: 0 1 400px;
    border: 3px ridge plum;
    height: 400px;
    background-color: rgba(245, 222, 179, 0.701);
}

footer {
    padding: 3vh 0;
}

footer p {
    text-align: center;
    font-size: 85%;
}

#hamburger-icon, #x-icon {
    z-index: 999;
    position: absolute;
    top: 3vh;
    right: 3vh;
    display: none;
    font-size: 130%;
}


#hamburger-icon:hover, #x-icon:hover {
    cursor: pointer;
}

#showNavigation {
    width: 25px;
    aspect-ratio: 1;
    background-color: blue;
    position: absolute;
    top: 3vh;
    right: 3vh;
    display: none;
}

@media screen and (max-width: 767px) {
    html {
        background-image: url('../images/download-3.jpg');
    }
    main {
        flex-direction: column;
        align-items: center;
    }

    aside, section {
        width: 95%;
    }

    header {
        flex-direction: column;
        justify-content: center;
    }

    header h2 {
        margin-right: 0;
        text-align: center;
    }

    #navigation {
        position: absolute;
        top: 0;
        right: 0;
        width: 65vh;
        height: 100vh;
        background-color: rgba(137, 43, 226, 0.8);
        transform: translateX(100%);
        transition: all 300ms ease-in;
        z-index: 99;
    }

    #navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    #showNavigation[data-visible='True'] {
        background-image: url(../images/images-1.jpg);
    }
 
 
    nav ul {
        flex-direction: column;
        margin-top: 30vh;
    }

    nav li {
        background-color: transparent;
    }

    #hamburger-icon {
        display: block;
    }

    #showNavigation[data-visible="false"] {
        display: block;
    }
}